imports:
  - { resource: ./vendor/openeuropa/code-review-drupal/dist/oe-component-conventions.yml }
parameters:
  tasks.phpstan.configuration: ./phpstan.neon
grumphp:
  tasks:
    phpparser:
      ignore_patterns:
        - vendor/
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'
