includes:
  - ./phpstan.neon.php

parameters:
  ignoreErrors:
    - identifier: dependencySerializationTraitProperty.unsupportedReadOnlyProperty
    - identifier: dependencySerializationTraitProperty.unsupportedPrivateProperty
    - identifier: new.static
